<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.entelechy.dao.FactoryMapper">
    <select id="getfactorylist" resultType="factory">
        SELECT * FROM factory
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id!=null and id !=''">
                and county_id=#{id}
            </if>
        </trim>

    </select>
</mapper>